@value colorTitle,colorBackground from '../../common/colors.css';

.container {
    width: 100%;
    height: 100%;
    background-color: colorBackground;
    display: flex;
    flex-direction: column;
}

.quiz {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    margin-bottom: 1rem;
    width: 60%;
    margin-left: 3rem;
}

.quizBox {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    height: 14em;
    border-radius: 1.2em;
    background-color: white;
    box-shadow: 4px 8px 14px 0px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 4px 8px 14px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 4px 8px 14px 0px rgba(0, 0, 0, 0.45);
}

.quizText {
    position: absolute;
    left: 0;
    margin-left: 4em;
    font-size: large;
}

.quizBtn {
    position: absolute;
    right: 0;
    width: 8em;
    height: 2.6em;
    border-radius: 0.8em;
    font-size: large;
    margin-right: 4em;
    background-color: colorTitle;
    color: white;
    border: 0;
    cursor: pointer;
    outline: 0;
}

.study {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.studyBox {
    position: relative;
    width: 60%;
}

.studyText {
    font-size: x-large;
    font-weight: bolder;
    margin-left: 0.5em;
}

.addBtn {
    position: absolute;
    right: 0;
    width: 8em;
    height: 2.5em;
    border-radius: 0.8em;
    font-size: large;
    margin-right: 0.5em;
    background-color: colorTitle;
    color: white;
    border: 0;
    cursor: pointer;
    outline: 0;
}

.books {
    width: 60%;
}

.quizBtn:hover,
.addBtn:hover {
    opacity: 0.9;
}