@value colorTitle from '../../common/colors.css';

.header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    flex-direction: column;
    background-color: white;
}

.title {
    color: colorTitle;
    font-size: 2.3em;
    cursor: pointer;
}

.login {
    position: absolute;
    right: 0;
    margin-right: 3.8em;
    font-weight: bold;
    cursor: pointer;
}